body {
    background-color:#33aa33bc;

}
header {
    background-color: #096e42;
    color:blanchedalmond;
    font-family: Georgia, serif;
    font-size:larger;
    text-align: left;

}
h1 {
    padding-top: 28px;
}

section {
    font-family: Georgia, serif;
    background: color #6f784e;
    width: auto;
    border: 10px black;
    padding: 50px;
    margin: 20px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}